@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation
@inject TokenProvider TokenProvider
@using System.Security.Claims

<AuthorizeView>
    <Authorized>
        <form action="/Identity/Account/Logout" method="post">
            <a href="Identity/Account/Manage/Index">
                Hello, @context.User.Claims.SingleOrDefault(p=>p.Type==ClaimTypes.Name)?.Value
            </a>
            <Button Type="@ButtonType.Link" HtmlType="submit">注销</Button>
        </form>
    </Authorized>
    <NotAuthorized>
        <div>
            <Button Type="@ButtonType.Primary" Icon="@IconType.Outline.Login" OnClick="NavToRegister">注册</Button>
            <Button Type="@ButtonType.Primary" Icon="@IconType.Outline.Upload" OnClick="NavToLogin">登录</Button>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {
    private void NavToLogin()
    {
        Navigation.NavigateTo("/Identity/Account/Login", true);
    }

    private void NavToRegister()
    {
        Navigation.NavigateTo("/Identity/Account/Register", true);
    }
}